#css_login_block_left > * {
    margin: 10px 0px 0px 0px;
    vertical-align: top;
}
.css_job_block {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 17px 20px 17px 20px;
    margin: 20px 0 20px 0;
}
.css_job_block:hover {
    background: #f6f6f6;
    cursor: pointer;
}
.css_job_buttons { float: right; position: relative; top: -5px; }
.css_job_buttons > * { margin-right: 5px; }
.css_job_info { text-align: right; }
.css_job_info > * { margin-right: 5px; }
.css_job_info > .css_disp {
    font-weight: bold;
    margin-right: 20px;
}
body { padding-top: 20px; }
div.daily_agent_btn > * {
    margin: 0 0 10px 10px;
}
div.css_list_footer {
    text-align: center;
    margin-top: 10px;
}
span.css_list_control { width:auto; }
span.css_list_control > a {
	letter-spacing: 0px;
	margin-left: 5px;
}
span.css_list_rowcount { margin-left: 5px }
.css_filter_oper_disp { display:none; }

.accordion { background-color: white; }
.accordion_open { background-color: white; }
.accordion-group-open {
    margin-bottom: 2px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#css_top_bar .btn {
    margin-right: 4px;
}
#css_page_header_title, h2 { font-size: 18.5pt; }
.task_count {
    font-size: 10px;
    position:absolute;
    right: 5px;
    top:-5px;
    background-color:red
}
.task_small {
    margin-left:5px;
    position:relative;
    top:0px;
}
.css_section_DashboardSection > h2 > i { margin-right:10px }
.alert_li {
    height:31px;
    padding-top:2px;
    padding-bottom: 2px;
}
#welcome_dashboard { font-size:15pt; }
@media(max-width:768px) {
    .job_alert_button {
        margin-right:10px;
        margin-bottom: 10px;
    }
    .affix {
        position: static;
    }
    .visible-phone { height: 0px !important; }
}
@media(min-width:769px) {
    .job_alert_button {
       //display:inherit;
    }
}

