.favourite_icon {
    position: absolute;
    font-size:18px;
    top: 45px;
    right: 20px;
}

#main > .favourite_icon {
    top: 15px;
}

@media(max-width: 690px) {
     #main > .favourite_icon {
        top: 5px;
    }
}

.css_job_block, #main {
    position: relative;
}
