


/* underline tooltips even before hover, unless the label is a unicode icon
a[rel='tooltip'][title]						{ text-decoration: underline; }
a[rel='tooltip'][title].css_uni_icon		{ text-decoration: none; }
*/


div.dropdown				{ display: inline; }
img.ui-datepicker-trigger	{ cursor: pointer; margin-left: 4px; }
.ui-datepicker {
    z-index: 900;
}


.css_undo_link				{ font-weight: bold; text-decoration: underline; }






/* Buttons at bottom */

